<!doctype html>
<html>
{% extends "login_form.html" %}
  <head>
    {% block title %}Welcome{% endblock %}
      {% block head %}
      {{ super() }}
      {% endblock %}
  </head>

  <body>
    {% block content %}
    <center>
      <h1>Welcome</h1>
      <p class="important">
        Account Verified
      </p>
      <form autocomplete='off' class='form' action = "/">
        <button class='btn block-cube block-cube-hover' type='submit'>
          <div class='bg-top'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg-right'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg'>
            <div class='bg-inner'></div>
          </div>
          <div class='text'>
            Logout
          </div>
        </button>

      </form>
    </center>
    {% endblock %}
  </body>
  </html>
